openapi: 3.0.3
info:
  title: Orders Service
  description: Handles order creation, checkout, payment intents, webhooks, and order management.
  version: 1.0.0
servers:
  - url: https://api.ecommerce.com/orders
paths:
  /:
    get:
      summary: List all orders
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of all orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
    post:
      summary: Place a new order (Checkout)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreate'
      responses:
        '200':
          description: Order placed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCreateResponse'
        '400':
          description: Validation error or stock error
  /me:
    get:
      summary: Get current user's order history
      security:
        - BearerAuth: []
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User's orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Order'
  /{id}:
    get:
      summary: Get order details by ID
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Order not found
  /{id}/status:
    patch:
      summary: Update order status
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStatusRequest'
      responses:
        '200':
          description: Status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateStatusResponse'
  /intent-payment:
    post:
      summary: Create payment intent for an order
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIntentPaymentRequest'
      responses:
        '200':
          description: Payment intent created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateIntentPaymentResponse'
  /webhooks/stripe:
    post:
      summary: Stripe payment webhook receiver
      parameters:
        - name: Stripe-Signature
          in: header
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Webhook received successfully
          content:
            text/plain:
              schema:
                type: string

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
  schemas:
    Order:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        subTotal:
          type: number
        shippingFee:
          type: number
        tax:
          type: number
        total:
          type: number
        status:
          type: string
          enum: [PENDING, PAID, FAILED, CANCELLED]
        date:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        address: { type: string }
        city: { type: string }
        phone: { type: string }
        paymentIntentId:
          type: array
          items:
            type: string
    OrderItem:
      type: object
      properties:
        productId: { type: string }
        price: { type: number }
        quantity: { type: integer }
    OrderCreate:
      type: object
      properties:
        userId: { type: string }
        address: { type: string }
        city: { type: string }
        phone: { type: string }
        items:
          type: array
          items:
            type: object
            properties:
              productId: { type: string }
              price: { type: number }
              quantity: { type: integer }
    OrderCreateResponse:
      type: object
      properties:
        message: { type: string }
    UpdateStatusRequest:
      type: object
      properties:
        status: { type: string }
        orderId: { type: string }
    UpdateStatusResponse:
      type: object
      properties:
        message: { type: string }
    CreateIntentPaymentRequest:
      type: object
      properties:
        orderId: { type: string }
    CreateIntentPaymentResponse:
      type: object
      properties:
        intentId: { type: string }
